.sign_in_form {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 73.5%;
  background: yellowgreen;

  .form_label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    outline: none;
    border: none;
    background-color: #557cde;
    border-radius: 6px;
    color: white;
  }
}
