.board_container {
  width: 100%;
  position: relative;
}

.board {
  width: 100%;
  border: 1px solid black;
}

.header {
  width: 100%;
  height: 90px;
  background: #557CDE;
  padding: 10px 0;


  .header_h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

.lunch_hour {
  background: rgba(253, 255, 158, 0.47);
}

.cell_available {
  background: rgb(89, 229, 118);
}

.cell_unavailable {
  background: rgba(255, 0, 0, 0.5);
}

.hours_container {
  width: 100%;
  height: 70px;
  display: flex;
  border: 1px none black;
  border-top-style: solid;

  .hours_left {
    width: 141.8px;
    height: 100%;
    background: #557CDE;
    //border: .5px solid transparent;
    border-right: .5px solid black;
    border-bottom: none;
  }

  .hours {
    width: calc(100% - 140px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #557CDE;

    .hour {
      width: 100%;
      height: 100%;
      border-right: 0.8px solid black;
      display: flex;
      flex-direction: column;

      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;

      .hour_order {
        width: 100%;
        height: 20px;
        border-bottom: 1px solid black;
        text-align: center;
      }

      .hour_bottom {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .time {
          width: 100%;
          height: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .hour:last-child {
      border-right: none;
    }
  }
}

.days {
  .day {
    width: 100%;
    min-height: 200px;
    display: flex;
    position: relative;
    padding-left: 40px;
    border: 1px none rgba(0, 0, 0, 0.76);


    .day_title {
      width: 200px;
      height: 40px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg) translateY(-120px) translateX(-80px);
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      border-right: solid 1px black;
    }

    .courses {
      width: 100%;

      .course {
        width: 100%;
        height: 50px;
        display: flex;
        border: solid 1px black;
        border-right: none;
        border-bottom: none;

        .course_title {
          width: 100px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(154, 210, 128, 0.31);
        }
      }
    }

    .subjects {
      width: calc(100% - 100px);
      height: 100%;
      display: flex;
      justify-content: space-between;

      .subject_cell {
        width: 100%;
        height: 100%;
        border: .5px none black;
        border-left-style: solid;
        position: relative;

        .cell_content {
          position: absolute;
          z-index: 1;
          height: 100%;
          background: yellow;
          overflow: hidden;
          cursor: grab;
        }
      }
    }
  }
}

.basket {
  width: 90%;
  height: 40%;
  background: #B4D2FF;
  position: fixed;
  z-index: 20;
  left: 8%;
  top: 99.7%;
  border: solid 1px black;
  padding: 15px 0 10px;
  transition: ease-in-out .5s;

  .basket_icon {
    width: 85px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B4D2FF;
    position: absolute;
    top: -43px;
    left: -1px;
    border: solid 1px black;
    border-bottom: none;
    z-index: 19;
    cursor: pointer;
  }

  .basket_subjects_container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background: green;
    display: flex;
    border: solid 1px black;

    .basket_course {
      width: 100%;
      height: 100%;
      background: #DDEFFC;
      border: solid 1px black;
      overflow: auto;
      position: relative;

      .basket_course_title {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #5C9DFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.69);
        position: absolute;
        top: -1;
      }

      .basket_course_subjects {
        width: 100%;
        height: 100%;
        padding-top: 40px;
        overflow: auto;

        .basket_course_subject {
          width: 80%;
          height: 50px;
          margin: 8px auto;
          background: yellowgreen;
          cursor: grab;
        }
      }
    }
  }
}

.basket_open {
  top: 60%;
}

.control_container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}


