.button {
  width: 97px;
  height: 35px;
  display: flex;
  align-items: center;
  border-style: none;
  background: #9FB8F9;
  padding: 7px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
}
